langchain
langchain-classic
langchain-community
langchain-huggingface
langchain-chroma
langchain-ollama
langchain-text-splitters
langchain-core
sentence-transformers
# Dependencias para el bot de Discord
discord.py
nest-asyncio
python-dotenv